{% extends 'base.html' %}

{% block content %}

    <body>
        <div class="container">
            <h1>Каталог товаров</h1>
            <ul>
                {% for product in products %}
                    <li class="card">
                        <a href="{% url 'product' product.id %}" class="card-body">
                            {{ product.name }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </body>

{% endblock %}
